[submodule "zsh/vendor/oh-my-zsh"]
	path = zsh/vendor/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/pack/onedark/opt/onedark.vim"]
	path = vim/pack/onedark/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
